{% extends 'bookings/base.html' %}
{% block title %}Book a Seat{% endblock %}

{% block content %}
<h2>Booking for: {{ movie.title }}</h2>

<form method="POST">
    {% csrf_token %}

    {% for seat in seats %}
        <label>
            <input type="radio" name="seat_id" value="{{ seat.id }}" {% if seat.is_booked %}disabled{% endif %}>
            Seat {{ seat.seat_number }} {% if seat.is_booked %}(Taken){% endif %}
        </label><br>
    {% endfor %}

    <button type="submit" class="btn btn-success mt-3">Book Seat</button>
</form>
{% endblock %}
